body {
    margin: 0 auto;
    width: 550px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h1, h2, p {
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
}

h2 {
    color: #5A537B;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 9px;
}

input {
    display: block;
    color: #fff;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin: 30px auto 25px auto;
    width: 120px;
    height: 80px;
    font-family: inherit;
    font-size: 58px;
    font-weight: 800;
    line-height: 24.39px;
    text-align: center;
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3d3d3d;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 28px;
}

#conversion {
    background: #6943FF;
    margin: 0;
    padding: 34px 50px;
}

#results {
    background: #F4F4F4;
    margin: 0;
    padding: 35px 25px 15px;
}

#entity {
    background: #fff;
    padding: 30px 0 18px;
    margin-bottom: 20px;
}

p {
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}